.advantages {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: @color-black;
  background-color: @color-grey;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__investigation {
    display: none;
  }

  &__header {
    padding: 20px;
    background-color: white;

    p {
      font-size: 24px;
      font-weight: normal;
    }
  }

  &-list {
    background-color: @color-grey;
    .reset-list();
  }

  &-list__item {
    padding: 25px 20px 0 20px;
  }

  &-list__item:nth-child(1) {
    margin-top: 30px;
  }

  &-list__slogan {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
  }

  &-list__intro {
    width: 260px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75;
  }

  &__img {
    margin: 0 auto;
    margin-top: 45px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 660px;

    &__img {
      width: 268px;
      height: 100%;
    }
  }

  .advantages__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .advantages__header {
    width: 100%;

    p {
      margin: 5px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
    }
  }

  .advantages-list {
    width: 50%;
    order: 2;
  }

  .advantages__investigation {
    display: block;
    order: 3;
    padding: 15px;
    background: url("../img/clock24.png") no-repeat 5% 50%;
    background-color: white;
    background-size: 250px;

    a {
      color: @color-pink;
    }

    .advantages__investigation__wrapper {
      width: 50%;
      margin-left: 50%;
    }
  }
}
/*2я медиа*/
@media (min-width: @tablet-width) {
  .advantages__header {
    padding-top: 50px;
    padding-bottom: 50px;

    p:nth-child(2) {
      width: 80%;
      margin: 0 auto;
      line-height: 1.2;
    }
  }

  .advantages__img {
    margin-top: 0;
    margin-left: 22px;
  }

  .advantages-list {
    padding: 20px;
    padding-top: 15px;
    text-align: left;

    &__item {
      padding-right: 10px;
      padding-bottom: 10px;
    }

    &__slogan {
      margin-bottom: 10px;
    }

    &__intro {
      width: 100%;
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .adv-mock {
    min-height: 250px;
  }

  .advantages {
    width: 960px;
  }

  .advantages-list {
    display: flex;
    width: 100%;
    order: 0;
  }

  .advantages__header {
    min-height: 250px;
  }
}
