.contacts {
  width: 320px;
  min-height: 400px;
  margin: 0 auto;
  .outline4();
  font-size: 18px;
  text-align: center;
  color: @color-grey;

  &__title {
    font-size: 24px;
    font-weight: 300;
  }

  &__item {
    font-size: 18px;
    font-weight: bold;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    color: @color-pink;
  }
}
