.download {
  width: 320px;
  padding: 30px;
  box-sizing: border-box;
  min-height: 389px;
  margin: 0 auto;
  color: white;
  .outline1();
}

@media (min-width: @tablet-width) {
  .download {
    width: 660px;
    margin-top: -500px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    width: 960px;
    margin-top: -500px;
  }
}

.download a {
  color: white;
}

.button {
  width: 281px;
  height: 55px;
  font-size: 18px;
  text-align: center;
  border: solid 3px white;
  border-radius: 55px;
}

.button--download {
  font-weight: bold;
  background-color: @color-blue;
  color: white;
}

.download__description {
  width: 229px;
  min-height: 37px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 300;
}

.download-list {
  .reset-list();
}
