.download {
  width: 320px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
  color: white;
  background-color: @color-black;

  &__slogan {
    display: none;
  }

  &__img {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .download {
    position: relative;
    width: 100%;
    background: url("../img/bg-back-tablet@1x.jpg") 50% 0;

    &-list {
      width: 300px;
    }

    &__slogan {
      display: block;
      width: 190px;
      font-size: 40px;
      line-height: 45px;
      font-weight: normal;
      text-align: center;
    }

    &__wrapper {
      width: 660px;
      margin: 0 auto;
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 300px;
    }
  }
}

@media (min-width: @desktop-width) {
  .download {
    width: 100%;

    &__img {
      width: 400px;
    }
  }

  .download__wrapper {
    width: 960px;
  }
}

.download a {
  color: white;
}

.button {
  width: 100%;
  height: 55px;
  font-size: 18px;
  text-align: center;
  border: solid 3px white;
  border-radius: 55px;
}

.button--download {
  padding: 15px 35px;
  font-weight: bold;
  text-decoration: none;
  background-color: @color-blue;
  color: white;

  &:hover {
    color: @color-pink;
    background-color: white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__description {
  width: 229px;
  min-height: 37px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 300;
}

.download-list {
  .reset-list();
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.download-list__item {
  min-width: 60px;
  min-height: 60px;
}
