.feedback {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  color: @color-black;
  background-color: white;

  &__author {
    font-weight: bold;
  }

  &__profession {
    display: none;
    font-size: 60%;
  }

  &__text {
    margin: 5px;
    font-size: 14px;
    line-height: 2.14;
    font-weight: bold;
  }

  &__list {
    .reset-list ();
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__toggles {
    margin-bottom: 50px; /*временно*/
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 660px;
    min-height: 300px;

    &__text {
      order: 1;
      font-size: 18px;
    }

    &__author {
      order: 2;
    }

    &__profession {
      order: 3;
    }
  }

  .products {
    width: 660px;
    min-height: 300px;
  }

  .contacts {
    width: 660px;
    min-height: 650px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 960px;
    min-height: 430px;
  }

  .products {
    width: 960px;
    min-height: 300px;
  }

  .contacts {
    width: 960px;
    min-height: 700px;
  }
}
