.copyright__text {
  text-align: left;
}

.footer {
  display: none;
  width: 320px;
  min-height: 285px;
  margin: 0 auto;
  background-color: white;
}

.footer__logo,
.social__list {
  .reset-list();
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-footer {
  min-height: 110px;
  padding: 15px;
  background: url("../img/logotype-blue-tablet-svg.png") no-repeat 50% 0%;
}

.social {
  min-height: 60px;
  .outline5();
}

.copyright {
  min-height: 80px;
  .outline4();
}

@media (min-width: @tablet-width) {
  .footer {
    display: block;
    width: 660px;
    min-height: 125px;
  }

  .footer__wrapper {
    flex-direction: row;
  }

  .bg-mock-photo1 {
    min-height: 670px;
  }

  .logo-footer {
    width: 250px;
  }

  .social {
    width: 250px;
  }

  .copyright {
    width: 180px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    display: block;
    width: 960px;
    min-height: 100px;
  }
}
