.footer {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.footer__logo {
  .reset-list();
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:hover path {
    fill: @color-pink;
  }

  &__item:active {
    opacity: 0.3;
  }
}

.logo-footer-desktop {
  display: none;
}

.footer--none {
  display: none;
}

.logo-footer__image {
  width: 150px;
  height: 80px;
  padding-top: 40px;
}

.logo-footer__image-letters path {
  &:hover {
    fill: @color-pink;
  }

  &:active {
    fill: @color-black;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer--none {
    display: block;
  }

  .footer {
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: row;
    padding: 30px 0 30px 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 100%;
  }

  .footer__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
  }

  .logo-footer-mobile {
    display: none;
  }

  .logo-footer-desktop {
    display: block;
  }
}
