.footer {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.footer__logo {
  .reset-list();
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110px;

  &__item:hover path {
    fill: @color-pink;
  }

  &__item:active {
    opacity: 0.3;
  }
}

.footer--none {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer--none {
    display: block;
  }

  .footer {
    width: 100%;
    min-height: 125px;
  }

  .footer__wrapper {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 100%;
    padding-top: 50px;
    min-height: 200px;
  }

  .footer__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
