.base-form-properties() {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @color-pink;
}

.page-form {
  color: @color-black;
}

.form {
  width: 320px;
  margin: 0 auto;
  background-color: white;
}

.form__offer {
  min-height: 150px;
  .reset-list();
  font-size: 14px;
  text-align: center;
  .outline1();
}

.form__item--achives {
  min-height: 600px;
  .outline2();
}

.form__item--name {
  min-height: 370px;
}

.form__item--contacts {
  min-height: 250px;
  .outline4();
}

.form__item--expirience {
  min-height: 320px;
  .outline5();
}

.form__item--feedback {
  min-height: 440px;
  .outline6();
}

@media (min-width: @tablet-width) {
  .form {
    width: 660px;
    min-height: 2430px;
  }

  .form__offer {
    min-height: 200px;
  }

  .form__item--achives {
    min-height: 320px;
  }

  .form__item--contacts {
    min-height: 350px;
  }

  .form__item--expirience {
    min-height: 600px;
  }

  .form__item--feedback {
    min-height: 490px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
    min-height: 1460px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__item--name {
    width: 45%;
    min-height: 340px;
  }

  .form__item--achives {
    width: 45%;
  }

  .form__item--contacts {
    min-height: 200px;
  }

  .form__item--expirience {
    min-height: 290px;
  }

  .form__item--feedback {
    min-height: 400px;
  }
}


.form__item--name .form__label,
.form__item--achives .form__legend--achives {
  .base-form-properties;
  line-height: 18px;
}

.form__label--checkbox {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: @color-black;
}

.form__item--contacts .form__label--input {
  .base-form-properties;
  text-align: left;
}

.form__item--expirience .form__legend--expirience,
.form__item--feedback .form__label--textarea {
  .base-form-properties;
  line-height: 30px;
}

.form__button {
  width: 276px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @color-green;
  color: white;
  background-color: @color-green;
}

.form__required {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @color-black;
}

.form__required span {
  color: @color-pink;
}
