.site-logo,
.site-list {
  .reset-list ();
}

.nav-mock {
  min-height: 325px;
}

@media (min-width: @tablet-width) {
  .nav-mock {
    min-height: 370px;
  }
}

@media (min-width: @desktop-width) {
  .nav-mock {
    min-height: 110px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav {
  width: 320px;
  margin: 0 auto;
}

.site-logo {
  padding: 20px;
  min-height: 70px;
  box-sizing: border-box;
  .outline4();
}

.site-list {
  min-height: 250px;

  &__item {
    min-height: 63px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    .outline3();
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;
    margin: 0 auto;
  }

  .site-logo {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 960px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }


  .site-logo {
    width: 170px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    min-width: 650px;
    .outline3();

    &__item {
      min-width: 150px;
    }
  }
}
