.site-logo,
.site-list {
  .reset-list ();
}

.main-nav {
  position: relative;
  width: 320px;
  min-height: 325px;
  margin: 0 auto;
  background-color: @color-black;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 11px;
  z-index: 2;
  display: block;
  width: 69px;
  height: 69px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 9px;
  width: 52px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #ff0000;
  box-shadow: 0 10px 0 0 rgba #ff0000, 0 20px 0 0 #ff0000;
}

.main-nav--opened .main-nav__toggle {
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 9px;
    width: 52px;
    height: 2px;
    background-color: #ffffff;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 370px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-height: 110px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.site-logo {
  padding: 20px;
  min-height: 70px;
  box-sizing: border-box;
}

.site-list {
  min-height: 250px;

  &__item {
    min-height: 63px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;
    margin: 0 auto;
  }

  .site-logo {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 960px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .site-logo {
    width: 170px;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    min-width: 650px;
    .outline3();

    &__item {
      min-width: 150px;
    }
  }
}
