.bg-mock {
  position: relative;
  width: 320px;
  min-height: 395px;
  margin: 0 auto;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;

  &__slogan {
    margin: 0;
    padding: 20px 20px;
    font-size: 24px;
    text-align: center;
  }
}

.bg__img {
  position: absolute;
  bottom: 0;
}

.bg-mock--inner {
  min-height: 170px;
  background-position: 50% 20%;
}

.bg-mock__text {
  margin: 0;
  padding: 25px;
  font-size: 24px;
  text-align: center;
}

.page-header__logo {
  cursor: pointer;
}

.page-header__logo g {
  fill: white;

  &:hover {
    fill: @color-pink;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .bg-mock {
    display: none;
  }

  .bg-mock--inner {
    display: block;
    width: 660px;
    min-height: 330px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
  }

  .bg-mock__text {
    padding-top: 80px;
    font-size: 50px;
  }

  .gallery__item--hit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../img/panorama-tablet@1x.jpg") no-repeat;
  }

  .gallery__image--hit {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .bg-mock {
    width: 960px;
    min-height: 610px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
  }

  .bg-mock--inner {
    min-height: 285px;
  }
}
