body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: @color-blue;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url("../img/Pink-Index-Mobile-Menu.png");
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  body {
    background-image: url("../img/Pink-Index-Tablet-Menu.png");
  }
}

@media (min-width: @desktop-width) {
  body {
    background-image: url("../img/Pink-Index-Desktop.png");
  }
}

.bg-mock {
  width: 320px;
  min-height: 395px;
  margin: 0 auto;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  .outline4();
}

@media (min-width: @tablet-width) {
  .bg-mock {
    width: 660px;
    min-height: 610px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
  }
}

@media (min-width: @desktop-width) {
  .bg-mock {
    width: 960px;
    min-height: 610px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
  }
}
