.posting {
  width: 320px;
  margin: 0 auto;
  min-height: 780px;
  color: @color-black;
  background-color: @color-grey;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 25px;
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    background-color: white;
  }

  &__image {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.posting__tools,
.tools-mobile {
  .reset-list();
}

.tools-control {
  padding: 30px 20px;
}

.tools-mobile {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.tools-mobile__img svg {
  fill: @color-black;
  opacity: 0.3;
}

.tools-mobile__img:hover svg {

  opacity: 0.5;
}

.tools-mobile__img--active svg {
  fill: @color-pink;
  opacity: 1;
}

.posting .button {
  width: 100%;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;

  &--post {
    border: 2px solid @color-pink;
    color: @color-pink;

    &:hover {
      background-color: @color-pink;
      color: white;
    }

    &:active {
      color: #e5e5e5;
    }
  }

  &--cancel {
    border: 2px solid @color-black;
    color: @color-black;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      background-color: @color-black;
      color: white;
    }
  }
}

@media (min-width: @tablet-width) {
  .posting {
    width: 660px;
    min-height: 700px;

    .button {
      width: 100%;
      height: 55px;
    }
  }

  .posting__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .posting__text {
    width: 100%;
    padding-top: 70px;
    box-sizing: border-box;
    font-size: 18px;
  }

  .posting__image {
    padding-top: 70px;
  }

  .tools-wrapper {
    width: 45%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
  }

  .tools-mobile {
    display: none;
  }

  .tools-control {
    margin-top: 65px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .posting {
    width: 100%;
    min-height: 670px;
  }

  .posting__wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .posting__text {
    width: 100%;
  }

  .posting__image {
    padding: 60px;
    padding-left: 80px;
  }

  .tools-wrapper {
    width: 50%;
  }

  .tools-control {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .tools-control__item {
    width: 190px;
  }
}
