.posting {
  width: 320px;
  margin: 0 auto;
  min-height: 780px;
  color: @color-black;
  background-color: @color-grey;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 25px;
    padding-bottom: 50px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    background-color: white;
  }

  &__image {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.posting__tools,
.tools,
.tools__mobile {
  .reset-list();
}

.tools {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 0;
}

.tools__item {
  position: relative;
  height: 70px;
  border-bottom: 1px solid lightgrey;
}

.tools__item::before {
  content: "";
  position: absolute;
  left: -50px;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.tools__crop::before {
  background: url("../img/icon-editor-crop.svg") 50% 50% no-repeat;
  background-size: 16px;
}

.tools__fill::before {
  background: url("../img/icon-editor-fill.svg") 50% 50% no-repeat;
  background-size: 16px;
}

.tools__contrast::before {
  background: url("../img/icon-editor-contrast.svg") 50% 70% no-repeat;
  background-size: 16px;
}

.tools__scale {
  width: 240px;
  margin: 30px auto;
  height: 2px;
  background-color: black;
}

.tools__scale::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid @color-pink;
  background-color: @color-grey;
}

.tools__scale:hover::before {
  background-color: @color-pink;
}

.tools__scale--crop::before {
  left: 80%;
}

.tools__fill,
.tools__contrast {
  display: none;
}

.tools-control {
  padding: 30px 20px;
}

.tools__mobile {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.tools-mobile-img svg {
  fill: @color-black;
  opacity: 0.3;
}

.tools-mobile-img:hover svg {

  opacity: 0.5;
}

.tools-mobile-img--active svg {
  fill: @color-pink;
  opacity: 1;
}

.posting .button {
  width: 100%;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;

  &--post {
    border: 2px solid @color-pink;
    color: @color-pink;

    &:hover {
      background-color: @color-pink;
      color: white;
    }

    &:active {
      color: #e5e5e5;
    }
  }

  &--cancel {
    border: 2px solid @color-black;
    color: @color-black;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      background-color: @color-black;
      color: white;
    }
  }
}

.tools__item:hover::before {
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .posting {
    width: 660px;
    min-height: 700px;

    .button {
      width: 100%;
      height: 55px;
    }
  }

  .posting__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .posting__text {
    width: 100%;
    font-size: 18px;
  }

  .tools__wrapper {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
  }

  .tools {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .tools__mobile {
    display: none;
  }

  .tools__fill,
  .tools__contrast {
    display: block;
  }

  .tools__item::before {
    display: block;
  }

  .tools__scale {
    width: 200px;
    margin-right: 0;
  }

  .tools__scale--crop::before {
    left: 20%;
  }

  .tools__scale--fill::before {
    left: 80%;
  }

  .tools__scale--contrast::before {
    left: 60%;
  }

  .tools-control {
    margin-top: 50px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .posting {
    width: 960px;
    min-height: 670px;
  }

  .posting__image {
    padding: 60px;
    padding-left: 80px;
  }

  .tools__wrapper {
    width: 50%;
  }

  .tools {
    margin-bottom: 100px;
    padding-top: 40px;
  }

  .tools__item {
    width: 90%;

    &::before {
      left: -30px;
    }
  }

  .tools-control {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .tools-control__item {
    width: 190px;
  }

  .tools__scale {
    width: 290px;
  }

  .tools__crop::before {
    background-size: 48px;
  }

  .tools__fill::before {
    background-size: 46px;
    background-position: 50% 100%;
  }

  .tools__contrast::before {
    background-position: 50% 100%;
    background-size: 40px;
  }
}
