body {
  font-family: "OpenSans-Light", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.bg-mock__text {
  font-size: 24px;
  font-family: OpenSans;
}
