body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: white;
  background-color: @color-blue;
}

img {
  max-width: 100%;
  height: auto;
}

.advantages__header {
  font-family: "OpenSans-light", "Arial", sans-serif;
}

.contacts {
  font-family: "OpenSans-Light", "Arial", sans-serif;
}
