.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.outline1() {
  background-color: cyan;
  outline: 3px dashed green;
}

.outline2() {
  background-color: tomato;
  outline: 3px dashed black;
}

.outline3() {
  background-color: orange;
  outline: 3px dashed orange;
}

.outline4() {
  outline: 3px dashed red;
}

.outline5() {
  background-color: green;
  outline: 3px dashed green;
}

.outline6() {
  background-color: #f6a600;
  outline: 3px dashed #f6a600;
}
